
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header, nav, .jumbotron, .split-up, main section div,  footer {
  padding: 15px 10% ;
}
header {
  height: 100px;
  background-color: red;
}
nav {
  height: 100px;
  background-color: yellow;
}
.jumbotron {
  height: 100px;
  background-color: purple;
}
.split-up {
  height: 100px;
  background-color: green;
}
.section-card div:first-child {
  height: 100px;
  background-color: brown;
}
.section-card div:nth-child(2) {
  height: 100px;
  background-color: blue;
}
.row {
  height: 100px;
  background-color: pink;
}
.number  {
  height: 100px;
  background-color: lightblue;
}
.partner  {
  height: 100px;
  background-color: orange;
}
footer  {
  height: 100px;
  background-color: black;
}
