
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family:'Roboto', sans-serif;
  color: #33475b;
}
.upper, nav, .jumbotron, .split-up, main section,  footer {
  padding: 15px 10% ;
}
header {
  width: 100%;
  position:fixed;
  top: 0;
}
.upper {
  background-color: #f4f9fd;
}
a {
  text-decoration: none;
  color: #33475b;
}
#contact {
    border-left: 2px solid #33475b;
    padding-left: 10px;
}
.upper span, a {
  margin: 0 10px;
}
.right-header, nav .row ul li, .img-card, .description-card h4, .description-card hr, .description-card ul li, .card, footer>ul>li{
  display: inline-block;
}
.right-header {
  float:right;
}
.bottone {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ff7a59;
  color: #ff7a59;
}
.arancione {
  background-color: #ff7a59;
  color: white;
  border: none;
}
.row::after {
  display: table;
  content: "";
  clear: both;
}
nav {
  border-top: 2px solid black;
  background-color: white;
}
nav>.row {
  text-align: right;
}
nav .row img {
  float: left;
}
nav .row ul, .card ul, footer ul{
  list-style-type: none;
}
nav .row ul li {
  padding-right: 10px;
}
nav .row ul li::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: " \f0dd";
}
.jumbotron {
  height: 600px;
  background-color: #fff6ef;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 28%;
  background-size: 90% 120%;
  background-repeat: no-repeat;
  padding-top: 3%;
  padding-right: 63%;
  margin-top: 6%;
}
.jumbotron h1 {
  margin: 2% 0%;
}
.h5-general {
  line-height: 2em;
  margin: 2% 0%;
  font-weight: lighter;
}
.grande{
  margin-right: 0;
  margin-left: 0px;
  padding: 1.5em 2em;
  line-height: 8em;
}
.split-up {
  height: 100px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}
main {
  background-color: #f4f9fd;
}
.motto {
  text-align: center;
  padding: 15px 20% ;
}
.section-card>div>img {
  height: 170px;
}
.first-features {
  background-color: white;
  border-radius: 7px;
}
.first-features, .card {
  box-shadow: 0px 0px 12px 0px lightgrey;
}
.img-card {
  float:left;
  text-align: center;
  height: 100%;
  width: 30%;
  padding: 20px 5%;
}
.img-card img {
  width: 70%;
}
hr {
  background-color: #899397;
  padding: 1px;
}
.description-card {
  margin-top: 5%;
  float: left;
}
.description-card h5 {
  width: 68%;
}
.description-card hr {
  width: 60%;
  margin-left: 5%;
}
.description-card ul li, .card ul li, .footer-card li, footer-card li{
  margin-top: 20px;
  margin-right: 20px;
  text-transform: capitalize;
}
.description-card ul li::before, .card ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  color: #ff7a59;
  padding-right: 10px;
}
.card {
  text-align: center;
  width: 30%;
  margin-top: 30px;
  background-color: white;
  float: left;
  padding: 2% 6%;
  border-radius: 7px;
}
.row .card:nth-child(2) {
  margin: 30px 5%;
}
.card img {
  height: 100px;
  margin: 7%;
}
.card hr, .card ul{
  margin: 10% 0px;
}
.card ul {
  text-align: left;
}
.number {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  text-align: center;
  color: white
}
.number h2, .partner-first-row-left h2{
  font-size: 2em;
  padding: 1% 5%;
}
.number h5 {
  padding: 0px 12%;
}
.row-1 .signt, .row-2 .signt {
  float: left;
  width: 24%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1%;
}
.signt {
  text-transform: uppercase;
}
.signt>img {
  height: 30px;
}
.signt>h2::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: " \f067";
  font-size: 15px;
  vertical-align: middle;
}
.row-2 .signt {
  border-bottom: none;
}
.row-1 .signt:last-child, .row-2 .signt:last-child{
  border-right: none;
}
.partner-first-row-left {
  width: 40%;
  padding: 0 5%;
  float: left;
}
.partner-first-row-left>h5 {
  line-height: 1em;
  margin: 10px;
}
.partner-first-row-left>h2 {
  margin: 20px 0;
}
.partner-first-row-right img {
  width: 12%;
  padding: 1%;
  vertical-align: middle;
}
.partner-second-row-left {
  float: left;
  width: 40%;
  margin-top: 50px;
  font-size: 1.3em;
}
.partner-second-row-left+img {
  float: right;
  width: 370px;
}
footer {
  background-color: #32495b;
  color: white;
}
.footer-card {
  float: left;
  text-align: left;
  width: 25%;
}
.footer-card a{
  margin:0;
  padding: 0;
}
.footer-card h4 {
  margin: 22px 0;
}
footer>ul {
  text-align: center;
  margin-top: 10%;
  padding-bottom: 2%;
  margin-bottom: 4%;
  border-bottom: 2px solid #c8d3e0;;
}
.b-footer {
  padding: 10px !important;
  background-color: #c8d3e0;
  color:  #32495b !important;
  border: 0px;
}
.footer-card ul li a {
  color: #c8d3e0;
}
.footer-card li span {
  padding: 0 6%;
}
footer>ul li {
  margin: 0 1%;
  color: #c8d3e0;
}
footer>.row>a {
  float: right;
  color: #c8d3e0;
}
#copyright {
  color: white
}
