@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family:'Roboto', sans-serif;
  color: #33475b;
}
/* header */
header {
  width: 100%;
  position:fixed;
  top: 0;
}
.upper, nav, .jumbotron, .split-up, main section,  footer {
  padding: 15px 10% ;
}
.upper {
  background-color: #f4f9fd;
}
a {
  text-decoration: none;
  color: #33475b;
}
a:hover {
  text-decoration: underline;
  color: #3387a6;
}
#contact {
    border-left: 2px solid #33475b;
    padding-left: 10px;
}
.upper span, a {
  margin: 0 10px;
}
.right-header, nav .row ul li, .img-card, .description-card h4, .description-card hr, .description-card ul li, .card, footer>ul>li, .dropdown{
  display: inline-block;
}
.right-header {
  float:right;
}
.bottone {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ff7a59;
  color: #ff7a59 !important;
}
.arancione {
  background-color: #ff7a59;
  color: white !important;
  border: none;
  text-decoration: none !important;
}
.arancione:hover {
  opacity: 0.5;
  transition-duration: 0.4s;
}
.row::after {
  display: table;
  content: "";
  clear: both;
}
nav {
  border-top: 2px solid black;
  background-color: white;
}
nav>.row {
  text-align: right;
}
#logo {
 float: left;
}
nav .row. ul {
}
nav .row ul, .card ul, footer ul{
  padding-top: 6px;
  list-style-type: none;
}
nav .row ul li {
  padding-right: 10px;
}
nav .row ul li a {
  margin-right:5px;
}
.d-c-left, .d-c-right-card, .d-c-right, .d-c-r-c-img, .sottotitolo {
  float: left;
}
.dropdown {
  position: absolute;
  background-color: rgba(0,0,0,0);
  border: none;
}
.dropdown:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0dd";
}
.dropdown:hover .dropdown-content, .dropdown-content, .d-c-r-c-description, .sottotitolo, .chat:hover .faq {
  display: block;
}
.dropdown-content{
  display: none;
  position:absolute;
  top:100%;
  right: 100%;
  z-index: 1;
  width: 900px;
  background-color:#f4f9fd;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.3em;
}
.dropdown-content, .d-c-right, .d-c-left {
  border-radius: 20px;
}
.dropdown-content h4 {
  margin: 2% 0;
  /* font-weight: 400; non funziona il 400 */
  font-weight: 600;
}
.d-c-left {
  padding: 5%;
  width: 32%;
  background-color: #f5f8fa;
}
.d-c-right{
  width: 68%;
  background-color: white;
}
.d-c-right-card {
  width: 50%;
  padding: 4% 2%;
}
.d-c-r-c-img {
  width: 12%;
}
.d-c-r-c-img img {
  width: 100%;
  vertical-align: -webkit-baseline-middle;
}
.d-c-r-c-description {
  display: inline-block;
  width:88%;
}
.dropdown-content a {
  color: #3387a6;
  margin:0;
  font-weight: 600;
}
.dropdown-content a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: " \f30b";
}
.sottotitolo {
  width: 100%;
  border-top: 3px solid #f5f8fa;
  text-align: center;
  padding: 2% 0;
}
.sottotitolo span {
  font-weight: bold;
}
#resources {
  background-color: white;
  width: 630px
}
#resources li {
  display: block;
  margin-left: 40px;
}
#resources ul {
  display: inline-block;
  width: 290px;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 10px;
}
#resources span {
  font-weight: bold;
  font-size: 1.2em;
}
#resources img {
  width: 40px;
  vertical-align: middle;

}
/* jumbo */
.jumbotron {
  height: 600px;
  background-color: #fff6ef;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 28%;
  background-size: 90% 120%;
  background-repeat: no-repeat;
  padding-top: 3%;
  padding-right: 63%;
  margin-top: 6%;
}
.jumbotron h1 {
  margin: 2% 0%;
}
.h5-general {
  line-height: 2em;
  margin: 2% 0%;
  font-weight: lighter;
}
.grande{
  margin-right: 0;
  margin-left: 0px;
  padding: 1.5em 2em;
  line-height: 8em;
}
.split-up {
  height: 100px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}
/* parte centrale */
main {
  background-color: #f4f9fd;
}
/* motto */
.motto {
  text-align: center;
  padding: 15px 20% ;
}
.section-card>div>img {
  height: 170px;
}
/* carta orizontale */
.first-features {
  background-color: white;
  border-radius: 7px;
}
.first-features, .card, .dropdown-content, .faq {
  box-shadow: 0px 0px 12px 0px lightgrey;
}
.img-card {
  float:left;
  text-align: center;
  height: 100%;
  width: 30%;
  padding: 20px 5%;
}
.img-card img {
  width: 71%;
}
hr {
  background-color: #899397;
  padding: 1px;
}
/* carte verticali */
.description-card {
  margin-top: 5%;
  float: left;
}
.description-card h5 {
  width: 68%;
}
.description-card hr {
  width: 60%;
  margin-left: 5%;
}
.description-card ul li, .card ul li, .footer-card li, footer-card li{
  margin-top: 20px;
  margin-right: 20px;
  text-transform: capitalize;
}
.description-card ul li::before, .card ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  color: #ff7a59;
  padding-right: 10px;
}
.card {
  text-align: center;
  width: 30%;
  margin-top: 30px;
  background-color: white;
  float: left;
  padding: 2% 6%;
  border-radius: 7px;
}
.row .card:nth-child(2) {
  margin: 30px 5%;
}
.card img {
  height: 100px;
  margin: 7%;
}
.card hr, .card ul{
  margin: 10% 0px;
}
.card ul {
  text-align: left;
}
/* statistiche */
.number {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  text-align: center;
  color: white
}
.number h2, .partner-first-row-left h2{
  font-size: 2em;
  padding: 1% 5%;
}
.number h5 {
  padding: 0px 12%;
}
.row-1 .signt, .row-2 .signt {
  float: left;
  width: 24%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1%;
}
.signt {
  text-transform: uppercase;
}
.signt>img {
  height: 30px;
}
.signt>h2::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: " \f067";
  font-size: 15px;
  vertical-align: middle;
}
.row-2 .signt {
  border-bottom: none;
}
.row-1 .signt:last-child, .row-2 .signt:last-child{
  border-right: none;
}
/* sezione dei partner */
.partner-first-row-left {
  width: 40%;
  padding: 0 5%;
  float: left;
}
.partner-first-row-left>h5 {
  line-height: 1em;
  margin: 10px;
}
.partner-first-row-left>h2 {
  margin: 20px 0;
}
.partner-first-row-right img {
  width: 12%;
  padding: 1%;
  vertical-align: middle;
}
.partner-second-row-left {
  float: left;
  width: 40%;
  margin-top: 50px;
  font-size: 1.3em;
}
.partner-second-row-left+img {
  float: right;
  width: 370px;
}
/* footer */
footer {
  background-color: #32495b;
  color: white;
}
.footer-card {
  float: left;
  text-align: left;
  width: 25%;
}
.footer-card a{
  margin:0;
  padding: 0;
}
.footer-card h4 {
  margin: 22px 0;
}
footer>ul {
  text-align: center;
  margin-top: 10%;
  padding-bottom: 2%;
  margin-bottom: 4%;
  border-bottom: 2px solid #c8d3e0;;
}
.b-footer {
  padding: 10px !important;
  background-color: #c8d3e0;
  color:  #32495b !important;
  border: 0px;
}
.footer-card ul li a {
  color: #c8d3e0;
}
.footer-card li span {
  padding: 0 6%;
}
footer>ul li {
  margin: 0 1%;
  color: #c8d3e0;
}
footer>.row>a {
  float: right;
  color: #c8d3e0;
}
#copyright {
  color: white
}
.chat {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.chat>button {
  border-radius: 50%;
  border: 1px solid black;
  background-image: url(../img/1.png);
  height: 50px;
  width: 50px;
  background-size: cover;
}
.faq {
  display: none;
  position:absolute;
  bottom:50%;
  right: 50%;
  z-index: 1;
  width: 300px;
  height: 400px;
  text-align: left;
  line-height: 1.5em;
  border: 0px solid black;
  border-radius: 5px;
  background-color: white;
}
.f-intestazione {
  border-radius: 5px 5px 0 0;
  color: white;
  vertical-align: middle;
  height: 55px;
  background-color: #425b76;
  border-bottom: 1px solid #f4f9fd;
  padding-top: 5px;
}
.f-intestazione>img {
  vertical-align: middle;
  height: 40px;
  margin: 0 10px;
}
.c-container {
  padding: 1% 10%;
  position: relative;
  overflow: auto;
  height: 180px;
}
.c-container>img {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 30px;
}
.c-container span {
  display: inline-block;
  margin: 2%;
  margin-left: 6%;
  background-color: #eaf0f6;
  color: #73869b;
  padding: 2% 2%;
  border-radius: 0px 7px 7px 7px;
}
#c-c-span-answer {
  background-color: white;
  border: 3px solid #eaf0f6;
  border-radius: 7px;
}
.faq>span {
  border-top: 2px solid #94abc3;
  border-bottom: 2px solid #94abc3;
  display: inline-block;
  padding: 1% 5%;
  color:#94abc3;
  font-size: 0.8em;
}
span:nth-child(2) {
  border: none;
}
#text {
  height: 13%;
  width:100%;
  border-top: none ;
  border-bottom: none ;
}
#text input {
  background-color: #eaf0f6;
  color: white;
  padding: 1%;
  border:none ;
  border-radius: 3px;
  height: 3em;
  width: 85%;
}
#text:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: " \f1d8";
  font-size: 2.5em;
  vertical-align: middle;
}
